@page "{category?}"
@model Microsoft.eShopOnContainers.WebDashboardRazor.Pages.DataModel
@{
    ViewData["Title"] = "Data";
}

<div class="row">
    <div class="col-12 bg-highlight py-3 pl-md-4" style="color: white; font-size: 17pt; line-height: 1.25">
        Downloads
    </div>
</div>

<div class="row my-4">
    <div class="col pl-md-4" style="font-size: 12pt;">@Model.Information.FileName</div>
    <div class="w-100 mx-3 border-bottom-highlight"></div>
</div>

<div class="row my-3">
    <div class="col-10 offset-1" style="font-size: 11pt;">
        <p class="pt-4">The file @Model.Information.FileName contains the information stored in <b>eShopOnContainersAI SqlServer Database</b></p>

        @*<p class="pt-1">
            This data from this file is neede for setting up the Recommendation Engine using Azure Machine Learning.
            You can find additional information in the <a class="text-success" target="_blank" href="https://github.com/dotnet-architecture/eShopOnContainersAI/wiki/05.-Setting-up-Product-Recommendations-based-on-Azure-ML-Studio">eShopOnContainersAI wiki</a>.
        </p>*@
        <p class="pt-5">
            Clicking in the following link will download the requested file.
        </p>
    </div>
    <div class="row justify-content-center w-100">
        <div class="col-8 col-sm-6 col-md-4 mt-5 mx-auto">
            <a class="btn btn-lg btn-block text-nowrap" style="background-color: #83d01b; color: white; border-width: 0; border-radius: 0; font-weight: bold; font-size: 12pt;" href="@Model.Information.DownloadFileUrl">
                <i class="eshop-icon icon-download pr-4 align-middle" style="font-size: 26pt;"></i>
                <span class="align-middle">DOWNLOAD FILE</span>
            </a>
        </div>
    </div>
</div>
