
<div>
    <img class="esh-catalog-thumbnail img-responsive" src="@Model.PictureUri" alt="@Model.Description" style="max-height: 240px" />

    <div class="esh-catalog-name">
        <span>@Model.Name</span>
    </div>
    <div class="esh-catalog-price">
        <span>@Model.Price.ToString("N2")</span>
    </div>
</div>