.wc-header {
    background-color: mediumpurple;
    cursor: pointer;
}

.wc-message-content {
    background-color: mediumpurple;
}

.wc-message-from-me .wc-message-content {
    background-color: mediumpurple;
}

.wc-message-from-me svg.wc-message-callout path {
    fill: mediumpurple;
}

.wc-message-from-me .wc-list img{
    background-color: white;
}

.ac-pushButton {
    background-color: mediumpurple;
}

.wc-card button:hover {
    color: rebeccapurple;
    border-color: mediumpurple;
}

.wc-card button {
    color: mediumpurple;
}

.wc-card button:active {
    background-color: rebeccapurple;
    color: #ffffff;
}