<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title></title>
    <meta charset="utf-8" />

    <link href="https://cdn.botframework.com/botframework-webchat/latest/botchat.css" rel="stylesheet" />
    <link href="https://cdn.botframework.com/botframework-webchat/latest/botchat-fullwindow.css" rel="stylesheet" />
    <script src="https://cdn.botframework.com/botframework-webchat/latest/botchat.js"></script>
    <link href="~/css/bot.css" rel="stylesheet" />

</head>
<body>
    <div id="BotChatElement"></div>
    <script>
        BotChat.App({
            directLine: { token:    '@ViewBag.chatToken'                            },
            user:       { id:       '@ViewBag.userid', name: '@ViewBag.userName'    },
            bot:        { id:       '@ViewBag.botID'                                },
            resize: 'detect'
        }, document.getElementById("BotChatElement"));
    </script>
</body>

</html>