
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

@using (@Html.BeginForm())
{
    <label for="UserName">User:</label>
    <input type="text" name="UserName" />

    <label for="UserPassword">Password:</label>
    <input type="password" name="UserPassword" />
    <!-- form content here -->
    <input type="submit" name="Login" value="Login" />

    <p>
        Default user: <strong>demouser@microsoft.com</strong><br />
        Default password:  <strong>Pass@word1</strong>
    </p>
}