.wc-header {
    background-color: #83D01B;
    cursor: pointer;
}

.wc-message-content {
    background-color: #83D01B;
}

.wc-message-from-me .wc-message-content {
    background-color: #83D01B;
}

.wc-message-from-me svg.wc-message-callout path {
    fill: #83D01B;
}

.wc-message-from-me .wc-list img {
    background-color: white;
}

.ac-pushButton {
    background-color: #83D01B;
}

.wc-card button:hover {
    color: #629b16;
    border-color: #83D01B;
}

.wc-card button {
    color: #83D01B;
}

    .wc-card button:active {
        background-color: #629b16;
        color: #ffffff;
    }
